# Environnements
.env
config/.env
.venv

# Fichiers temporaires
__pycache__/
*.pyc
*.pyo

# Fichiers OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environnements virtuels Python
venv/
.venv/
env/
.env/

logs/*
output/*
data_ecf/consommations_raw.csv
data_ecf/batiments.csv
data_ecf/meteo_raw.csv
data_ecf/tarifs_energie.csv